.App {
  text-align: center;
}
table{
  border-collapse: collapse;
}
td{
  border: 1px solid;
  text-align: left;
  padding: 5px 15px;
  box-sizing: border-box;
}
td:first-child{
  width: 160px;
  font-size: 18px;
  
}
